@charset "UTF-8";
* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to right, #BAC3F0, #fac7af);
}
main {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #5d2a42c0;
    margin: auto;
    width: 600px;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #5D2A42;
}
h2 {
   color: #FB6376; 
}
p {
    text-align: justify;
}